body,
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  box-sizing:border-box;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#slider{
  position:absolute;
  transform:translate(-50%,-50%);
  top:50%;
  left:50%;
  overflow:hidden;
  border:20px solid white;
  border-radius:8px;
  box-shadow:10px 25px 30px rgb(30 30 200 )
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

img{
  font-size: 5rem;
 display:block;
  width:100%;
  height:400px;
  object-fit:cover;
  object-position:center;
  
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
  display:none;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
  display:none;
}
